<div class="sidebar well">
<td align="right"> <img src='/images/Sheffield.jpg' height="162" width="222"></td>
</div>


<div class="sidebar well">
	<h1>Links</h1>
  <li><a href="http://mucm.aston.ac.uk/MUCM/MUCMToolkit/index.php?page=MetaHomePage.html">MUCM Toolkit</a></li>
  <li><a href="http://savi.shef.ac.uk/SAVI/">SAVI</a></li>
</div>

<div class="sidebar well">
	<h1>Academic Staff</h1>
	<li><a href="http://caitlin-buck.staff.shef.ac.uk/">Caitlin Buck</a></li>
	<li><a href="http://staffwww.dcs.shef.ac.uk/people/R.Clayton/">Richard Clayton</a></li>
  <li><a href="http://www.jeremy-oakley.staff.shef.ac.uk/index.html">Jeremy Oakley</a></li>
  <li><a href="https://www.sheffield.ac.uk/acse/staff/rp">Robin Purshouse</a></li>
  <li><a href="http://www.shef.ac.uk/scharr/sections/ph/staff/profiles/mark">Mark Strong</a></li>
  <li><a href="http://r-wilkinson.staff.shef.ac.uk">Richard Wilkinson</a></li>
</div>

<div class="sidebar well">
	<h1>RAs and PhD Students</h1>
	<li><a href="http://bim.shef.ac.uk/maths/staff_info.php?id=616">Younus Al-Taweel</a></li>
	<li><a href="https://github.com/samcoveney/GP_emu_UQSA">Sam Coveney</a></li>
<li>Oliver Jones</li>
<li><a href="http://bim.shef.ac.uk/maths/staff_info.php?id=683">Sajni Malde</a></li>
<li><a href="http://www.alansaul.com/">Alan Saul</a></li>
<li> Jonathan Sykes</li>
<li><a href="http://maths.dept.shef.ac.uk/maths/staff_info_765.html">Fiona Turner</a></li>
</div>
