<div class="sidebar well">
<td align="right"> <img src='/images/Sheffield.jpg' height="162" width="222"></td>
</div>


<div class="sidebar well">
	<h1>Links</h1>
  <li><a href="http://twitter.com/jameshensman">twitter</a></li>
  <li><a href="mailto:james.hensman@lancaster.ac.uk">email</a></li>
  <li><a href="http://github.com/jameshensman">github</a></li>
  <li><a href="https://scholar.google.co.uk/citations?user=l8dX3ssAAAAJ&hl=en">scholar</a></li>
</div>

<div class="sidebar well">
	<h1>People</h1>
  <li><a href="http://twitter.com/jameshensman">Jeremy Oakley</a></li>
  <li><a href="mailto:james.hensman@lancaster.ac.uk">Mark Strong</a></li>
  <li><a href="http://r-wilkinson.staff.shef.ac.uk">Richard Wilkinson</a></li>
</div>

<div class="sidebar well">
	<h1>Address</h1>
<p>James Hensman<br>
Division of Medicine,<br>
Lancaster University,<br>
Lancaster, LA1 4YB,<br>
UK<br>
</div>
