{% include header.html %}

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
		<div class="article">
		    <div class="well">
          
          <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }} </a></h1>
         
         {% if page.author %} 
        {% assign author = site.authors[page.author] %}
          <h5>by <a href="{{page.authorurl}}">{{page.author}}</a></h5>
          {% endif %}
          
      <div class="post">
      {{ content }}
      </div>
		    </div>
		</div>
        </div>
    </div>
</div>

{% include footer.html %}
